<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="dbConnStr" value="Server=sql2012.isimtescil.net;Initial Catalog=pozucaKs_ds_SQL;User Id=pozucaKs_ds_SQL;Password=Kp6cp8Hb;MultipleActiveResultSets=True"/>
    <!---<add key="dbConnStr" value="Server=sql2012.isimtescil.net;Initial Catalog=pozucaKs_ds_TEST;User Id=tester;Password=Kp6cp8Hb;MultipleActiveResultSets=True"/>-->
    <add key="allowedIPs" value="127.0.0.1,::1,185.33.234.160,93.89.229.2,93.89.230.234,93.89.226.35,93.89.226.36,93.89.226.37,93.89.226.39,93.89.226.55,93.89.226.43,93.89.235.179"/>
    <add key="userFilesDir" value="/Medya"/>
	<add key="apiAddress" value="http://localhost:81"/>

    <add key="openSSLPath" value="C:\OpenSSL-Win64\bin"/>

    <add key="comodoUsername" value="Signsec"/>
    <add key="comodoPassword" value="Qweasdzxc123"/>

    <add key="smsApiUserName" value="isimtescil"/>
    <add key="smsApiPassword" value="123126!gf"/>
    <add key="smsApiOrg" value="ISIMTESCIL"/>

    <add key="opensslExePath" value="C:\OpenSSL-Win64\bin\openssl.exe"/>
    <add key="opensslTmpPath" value="C:\OpenSSL-Win64\Temp\"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5"/>
      <pages validateRequest="false" pageBaseType="DealerSafe2.API.Staff.BasePage"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>
